*{
    font-family: 'Roboto Mono', monospace;
    color:white;
    padding: 0;
    margin: 0;
}

.navigation {
    background-color: rgb(59, 3, 3);
}


.logo>img {
    height: 100px;
    width: 15%;
    padding-bottom: 1%;
}

.nav {
    margin-top: 5%;
}

p>a, p>a:hover {
    color: white;
    text-decoration: none;
}

p {
    margin-left: 5%;
    cursor: pointer;
    font-weight: bolder;
    font-size: 18px;
} 

.menu, .about {
    background-color: rgb(27, 1, 1);
    margin-bottom: 1%;
    margin-top: 1%;
}

.menu td, th {
    padding: 5px;
}

th {
    background-color: rgb(59, 3, 3);
    width: 100%;
}

h1 {
    text-align: center;
}