*{
    font-family: 'Roboto Mono', monospace;
    color:white;
    padding: 0;
    margin: 0;
}

.navigation {
    background-color: rgb(59, 3, 3);
    color: white;
}

.logo>img {
    height: 100px;
    width: 15%;
    padding-bottom: 1%;
}